@model sample.Models.ProductsModel

<h1>Detail</h1>
<p>Detail page</p>
<p>@Model.ID</p>
<p>@Model.Name</p>
<p>@Model.Logo</p>
<img src="@Model.Logo"/>
<p>@Model.Image</p>
<img src="@Model.Image"/>
<p>@Model.Type</p>
<p>@Model.Code</p>
<p>@Model.Detail</p>